* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    align-items: center;
    padding-left: 11%;
    justify-content: space-between;
    padding-right: 11%;
}

@media only screen and (max-width:800px) {
    .header {
        padding: 0px 12px;
    }
}

.logo {
    margin-left: 13px;
}

.header_btn1 {
    padding: 7px 48px 8px 48px;
    margin-right: 16px;
    background-color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #276EF1;
    border: 1px solid #276EF1;
}


.header_btn2 {

    background-color: #276EF1;
    border: 1px solid #276EF1;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    padding: 7px 34px 8px 34px;


}

@media only screen and (max-width:800px) {
    .header_btn1 {
        color: white;
        margin-left: 16px;
        background-color: #276EF1;
    }
}

@media only screen and (max-width:800px) {
    .header_btn2 {
        display: none;
    }
}



@media only screen and (max-width:800px) {
    .main_page {
        text-align: center;
    }
}

.main_page_left {
    padding-top: 169px;
}

@media only screen and (max-width:800px) {
    .main_page_left {
        padding-top: 74px;
    }
}

.main_text {

    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

@media only screen and (max-width:800px) {
    .main_text {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }
}

.main_text_second {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

@media only screen and (max-width:800px) {
    .main_text_second {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
    }
}


.ispaniol {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    max-width: 479px;
}

@media only screen and (max-width:800px) {
    .ispaniol {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}

.main_page_btn {
    margin-top: 58px;
    padding: 18px 36px 17px 36px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: white;
    background-color: #276EF1;
    border: none;
    cursor: pointer;

}


.maintext2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.loremipsum {
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
}

.circle {
    width: 42vw;
    height: 42vw;
    border-radius: 50%;
    background: rgba(39, 110, 241, 0.2);

    margin-top: 54px;

}

@media only screen and (max-width:800px) {
    .circle {
        align-items: center;
    }
}

@media only screen and (max-width:800px) {
    .circle {
        text-align: center;
    }
}

.mainpageright {
    display: flex;
}



.main_page {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 4%;
}




.second_main_text {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    padding-top: 116px;

}

.second_loremipsum {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-top: 8px;
    padding-right: 30%;
    padding-left: 30%;
}

@media only screen and (max-width:800px) {
    .second_loremipsum {
        padding-left: 42px;
        padding-right: 42px;
    }

    .second_main_text {
        padding-top: 56px;
    }

}

.futures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 11%;
    padding-right: 11%;



}

@media only screen and (max-width:800px) {
    .futures {
        display: flex;
        flex-direction: column;
    }


}

.future_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.ftr_1_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;

}

.ftr_1_txt {
    text-align: center;
    max-width: 350px;
}

.future2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-left: 30px;
    padding-right: 30px;
}


.ftr_2_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
}

.ftr_2_txt {
    text-align: center;
    max-width: 350px;
}

.future_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.ftr_3_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
}

.ftr_3_txt {
    text-align: center;
    max-width: 350px;
}

.futures_part_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 64px;

}

.future_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.ftr_4_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
}

.ftr_4_txt {
    text-align: center;
    max-width: 350px;
}

.future_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-left: 30px;
    padding-right: 30px;
}

.ftr_5_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
}

.ftr_5_txt {
    text-align: center;
    max-width: 350px;
}

.future_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;

}

.ftr_6_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
}

.ftr_6_txt {
    text-align: center;
    max-width: 350px;
}

@media only screen and (max-width:800px) {
    .futures {
        display: flex;
        flex-direction: column;
    }

    .future_3 {
        display: none;
    }

    .futures_part_2 {
        display: none;
    }

}