@font-face {
    font-family: 'Evolventa-Regular';
    src: url('./Evolventa-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Evolventa-Regular', sans-serif;
}

.header {
    background-color:#FFFFFF;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    display:flex;
    align-items:center;
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    color:#313131;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    height: 100%;
    margin-left:92px;
}

.menu li {
    margin-left:12px;
}

.main-page { 
    background-image: url('./main-background.jpg');
    padding-left: 183px;
    height: calc(100% - 80px);
    width: 100%;
    padding-top: 67px;
}

.main-page__text {
    margin-top:67px;
    color:#313131;
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    
}

.main-page__heading{
   margin-top:31px;
    font-size:48px;
    line-height:64px;
    font-weight:400;
    width:754px;
}

.list{
    display:flex;
    justify-content:space-around;
    font-size:14px;
    line-height:24px;
    font-weight: 400;
    height: 24px;
    margin-top:47px;
    margin-right:70%;
}
.list_none{
    list-style:none;
}
.button{
    background-color:#E9C88F;
    border-radius:5px;
    height: 70px;
    width: 460px;
    line-height:24px;
    border-color:#E9C88F;
    cursor:pointer;
    margin-top:56px;
}
.button__p{
    display:flex;
    align-items:center;
    text-align:center;
    flex-direction:column;
    font-size:18px;
    line-height:24px;
    font-weight: 700;
    color:white;
}

.buttons{
    display:flex;
    flex-direction:column;
}

.button_2{
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 20px 50px rgba(61, 61, 61, 0.15), inset 0px -3px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    height:70px;
    width:460px;
    margin-top:24px;
}

.button__2__p{
    display:flex;
    align-items:center;
    text-align:center;
    flex-direction:column;
    font-size:18px;
    line-height:24px;
    font-weight: 400;
    color:black;
    cursor:pointer;
}
.box{

    margin-left:50%;
    display:flex;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 20px 50px rgba(61, 61, 61, 0.15), inset 0px -3px 3px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 558px;
    height: 160px;
    border-radius:5px;
    margin-left:65%;
    padding: 32px 0px;
    align-self: flex-end;
}

.box_btn{
  margin-top: 17px;
  padding: 11px 17px;
  align-self: flex-start;
  font-size: 12px;
  line-height: 15.96px;
  letter-spacing: 0.05em;  
  background: linear-gradient(90deg, #E9C88F 0%, #E9AF8F 100%); 
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.15);
  border-color:#E9C88F;
  border-radius: 5px;
  cursor: pointer;
  color:white;
}

.box__info {
    display: flex;
    flex-direction: column;
    text-align:flex-start ;
    margin-left: 36px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
}
.main-page2{
    display: flex;
  justify-content: center;
  text-align: center;
    margin-top: 90px;
    font-size: 48px;
    line-height: 64px;
    margin-left:280px;
    margin-right: 280px;
    
}
.borders{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.border{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-color: #F7F3EF;
    border: 2px solid #F7F3EF;
    Width:362px;
    height:450px;
    margin-top: 17px;
    border-radius: 5px;
    color:#E9C88F;
    line-height:34px;
    font-size: 24px;
    padding-left: 37px;
    padding-top: 163px;
    padding-bottom: 73px;
    padding-right: 36px;
    margin-bottom: 87px;
}



  

  .p1{
    margin-top: 16px;
    color:#313131;
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    
  }
  .border2{
    display: flex;
    flex-direction: column;
    text-align: center;

    Width:362px;
    height:450px;

    margin-top: 17px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 87px;

    padding-left: 37px;
    padding-top: 163px;
    padding-bottom: 73px;
    padding-right: 36px;

    border-radius: 5px;
    border: 2px solid #F7F3EF;

    font-size: 24px;
    line-height: 34px;

    background-color: white;
    color: linear;

}

.pb2{
    font-size: 16px;
    line-height: 24px;
    margin-top:16px;
    color:#313131
}

.pb2_1{

font-size: 24px;
    line-height: 34px;
    color: #E9C88F;


}


.border3{
    display: flex;
    flex-direction: column;
    text-align: center;
    

    Width:362px;
    height:450px;

    margin-top: 17px;
    margin-bottom: 87px;

    border-radius: 5px;
    border: 2px solid #F7F3EF;

    padding-left: 37px;
    padding-top: 163px;
    padding-bottom: 73px;
    padding-right: 36px;

}

.pb3_1{
    color: #E9C88F;
    font-size: 24px;
    line-height: 34px;

}
 .pb3_2{
    margin-top:16px;
    font-size: 16px;
    line-height: 24px;
 }
 .parent{
    display:flex;
    flex-direction: row;
    width:100%;
  
 }
  .bathroom{
    height: 700px;
    width: 25%;

  }
  
  .blackbox{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 375px;
    
    
    background-color: #313131;
  }

  .blackboxinfo{
    color: #FFFFFF;
    margin-top: 43px;
    margin-left: 53px;
    margin-right: 53px;
  }
  .catalog{
    margin-top: 55px;
  
  }
  .blackboxbutton{
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.15);
    background-color: #E9AF8F;
    border-radius: 5px;
    margin-left: 44px;
    margin-right: 41px;
    margin-bottom: 55px;
    width: 302.82px;
    height: 70px;
    margin-top: 19px;
    color:white;
    border:none;
    cursor: pointer;
    font-size: 18px;
line-height: 24px;
  }
  .kitchenimg{
    width: 25%;
    height: 700px;
  }
.kreslo{
    width: 25%;
    height: 700px;
   
}



.livingroomimg{
position: relative;
width: 100%;
height: 513px;

}

.child{
    position: absolute;
   top: 161px;;
   bottom:160px;
   left: 188px;
   right:739px;
   font-size: 48px;
   line-height: 64px;
   color:#FFFFFF
}

.relative{
    position: relative;
    left: 700px;
    right:222px;
    bottom: 261px;
    font-size: 22px;
    line-height: 36px;
    
}

.child3{
    display: flex;
    align-items:center;
    position: relative;
    left: 700px;
    right:222px;
    bottom: 145px;
    font-size: 22px;
    line-height: 36px;
}

.text{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 64px;
font-size: 48px;
margin-left: 183px;
margin-right: 183px;
margin-bottom: 36px;
margin-top:114px ;

}
.text2{
    margin-top: 35px;
    font-size: 18px;
line-height: 32px;
}
.img2{
    width: 100%;
}

.priceingtext{
display: flex;
justify-content: center;
font-size: 36px;
line-height: 46px;
margin-top: 137px;
margin-bottom: 63px;
}


.priceingbox{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 362px;
    height: 550px;
    background-color: #F7F3EF;
    border-radius: 5px;
    margin-left: 183px;
    margin-bottom: 126px;
}
.priceimg{
    position: absolute;
    left: 7px;
right: 7px;
top: 7px;
bottom: 228px;
}
.priceing_dubai-midos{
   
position: absolute;
left: 10.77%;
right: 59.94%;
top: 52.18%;
bottom: 43.09%;
font-size: 14px;
line-height: 26px;
    
}

.priceing_prekrasnaya{
    position: absolute;
left: 10.77%;
right: 11.05%;
top: 58.55%;
bottom: 29.82%;
font-size: 20px;
line-height: 32px;
}

.room{
    position: absolute;
left: 17.4%;
right: 65.47%;
top: 74.18%;
bottom: 21.09%;
font-size: 14px;
line-height: 26px;
}

.k120kvm{
    position: absolute;
    left: 47.24%;
    right: 35.08%;
    top: 74.18%;
    bottom: 21.09%;
}
.roomprice{
    position: absolute;
left: 10.77%;
right: 60.5%;
top: 87.82%;
bottom: 7.45%



}

.priceingbox2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 362px;
    height: 550px;
    background-color: #F7F3EF;
    border-radius: 5px;
    margin-left: 575px;
    margin-bottom: 126px;
}
.priceimg2{
    position: absolute;
    left: 7px;
right: 7px;
top: 7px;
bottom: 228px;
}
.priceing_dubai-midos2{
   
position: absolute;
left: 10.77%;
right: 59.94%;
top: 52.18%;
bottom: 43.09%;
font-size: 14px;
line-height: 26px;
    
}

.priceing_prekrasnaya2{
    position: absolute;
left: 10.77%;
right: 11.05%;
top: 58.55%;
bottom: 29.82%;
font-size: 20px;
line-height: 32px;
}

.room2{
    position: absolute;
left: 17.4%;
right: 65.47%;
top: 74.18%;
bottom: 21.09%;
font-size: 14px;
line-height: 26px;
}

.k120kvm2{
    position: absolute;
    left: 47.24%;
    right: 35.08%;
    top: 74.18%;
    bottom: 21.09%;
}
.roomprice2{
    position: absolute;
left: 10.77%;
right: 60.5%;
top: 87.82%;
bottom: 7.45%



}


.priceingbox2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 362px;
    height: 550px;
    background-color: #F7F3EF;
    border-radius: 5px;
    margin-left: 575px;
    margin-bottom: 126px;
}
.priceimg2{
    position: absolute;
    left: 7px;
right: 7px;
top: 7px;
bottom: 228px;
}
.priceing_dubai-midos2{
   
position: absolute;
left: 10.77%;
right: 59.94%;
top: 52.18%;
bottom: 43.09%;
font-size: 14px;
line-height: 26px;
    
}

.priceing_prekrasnaya2{
    position: absolute;
left: 10.77%;
right: 11.05%;
top: 58.55%;
bottom: 29.82%;
font-size: 20px;
line-height: 32px;
}

.room2{
    position: absolute;
left: 17.4%;
right: 65.47%;
top: 74.18%;
bottom: 21.09%;
font-size: 14px;
line-height: 26px;
}

.k120kvm2{
    position: absolute;
    left: 47.24%;
    right: 35.08%;
    top: 74.18%;
    bottom: 21.09%;
}
.roomprice2{
    position: absolute;
left: 10.77%;
right: 60.5%;
top: 87.82%;
bottom: 7.45%



}

.priceingbox2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 362px;
    height: 550px;
    background-color: #F7F3EF;
    border-radius: 5px;
    margin-left: 575px;
    margin-bottom: 126px;
}
.priceimg2{
    position: absolute;
    left: 7px;
right: 7px;
top: 7px;
bottom: 228px;
}
.priceing_dubai-midos2{
   
position: absolute;
left: 10.77%;
right: 59.94%;
top: 52.18%;
bottom: 43.09%;
font-size: 14px;
line-height: 26px;
    
}

.priceing_prekrasnaya2{
    position: absolute;
left: 10.77%;
right: 11.05%;
top: 58.55%;
bottom: 29.82%;
font-size: 20px;
line-height: 32px;
}

.room2{
    position: absolute;
left: 17.4%;
right: 65.47%;
top: 74.18%;
bottom: 21.09%;
font-size: 14px;
line-height: 26px;
}

.k120kvm2{
    position: absolute;
    left: 47.24%;
    right: 35.08%;
    top: 74.18%;
    bottom: 21.09%;
}
.roomprice2{
    position: absolute;
left: 10.77%;
right: 60.5%;
top: 87.82%;
bottom: 7.45%



}


.priceingbox3{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 362px;
    height: 550px;
    background-color: #F7F3EF;
    border-radius: 5px;
    margin-left: 967px;
    margin-right: 183px;
    margin-bottom: 126px;
}
.priceimg3{
    position: absolute;
    left: 7px;
right: 7px;
top: 7px;
bottom: 228px;
}
.priceing_dubai-midos3{
   
position: absolute;
left: 10.77%;
right: 59.94%;
top: 52.18%;
bottom: 43.09%;
font-size: 14px;
line-height: 26px;
    
}

.priceing_prekrasnaya3{
    position: absolute;
left: 10.77%;
right: 11.05%;
top: 58.55%;
bottom: 29.82%;
font-size: 20px;
line-height: 32px;
}

.room3{
    position: absolute;
left: 17.4%;
right: 65.47%;
top: 74.18%;
bottom: 21.09%;
font-size: 14px;
line-height: 26px;
}

.k120kvm3{
    position: absolute;
    left: 47.24%;
    right: 35.08%;
    top: 74.18%;
    bottom: 21.09%;
}
.roomprice3{
    position: absolute;
left: 10.77%;
right: 60.5%;
top: 87.82%;
bottom: 7.45%



}
.price_2{
    

}