@media only screen and (max-width:400px) {
    .header {
        padding: 0px 12px;
    }

    .ispaniol {
        font-weight: 400;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        line-height: 22px;
    }

    .main_page_btn {
        padding: 11px 36px 12px 36px;
        margin-top: 16px;
    }

    .third_page_box {
        margin-left: 0px;
        align-items: flex-start;
        padding: 24px;
    }

    .third_page_box_main_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .third_page_left {
        padding-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .third_page {
        display: flex;
        flex-direction: column;
    }

    .third_page_main_text {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        width: 189px;
        padding-top: 80px;
    }

    .third_page_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        width: 236px;
    }

    .third_page_box_2 {
        padding: 24px;
        margin-bottom: 55px;
    }

    .third_page_box_2_main_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .third_page_right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .third_page_box_3 {
        display: none;
    }
}